<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>454662068237-gtbj6b5e8mtj87p223ta1386423fs9en.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454662068237-gtbj6b5e8mtj87p223ta1386423fs9en</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ6Nd_ccZWx_XOr35pTjJOop6RJ_alFrc</string>
	<key>GCM_SENDER_ID</key>
	<string>454662068237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.me.WeatherNow</string>
	<key>PROJECT_ID</key>
	<string>weathernow-97e1f</string>
	<key>STORAGE_BUCKET</key>
	<string>weathernow-97e1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454662068237:ios:358c7fe5d3df732d</string>
	<key>DATABASE_URL</key>
	<string>https://weathernow-97e1f.firebaseio.com</string>
</dict>
</plist>